@font-face {
  font-family: 'fraunces';
  font-style: italic;
  font-weight: 400 800;
  src: url("../fonts/Fraunces-Italic-opsz-wght.ttf") format("opentype");
}

@font-face {
  font-family: 'fraunces';
  font-style: normal;
  font-weight: 400 800;
  src: url("../fonts/Fraunces-Regular-opsz-wght.ttf") format("opentype");
}

:root {
  --color-primary: darkred;
  --color-background: white;
}

h1,
h2,
h3 {
  font-style: normal;
  color: var(--color-primary);
}

body {
  /* background: var(--color-background); */
  /* background: url(/images/wood.jpg); */
  background-size: 100vw 100vh;
  background-attachment: fixed;
  /* background-color: rgba(162,55,112,0.4); */
  background-blend-mode: overlay;
}

main {
  --font-body: "fraunces";
  --font-head: "fraunces";
  padding: 0;
  font-variation-settings: 'wonk' 0, 'opsz' 1, 'SOFT' 100;
}

article {
  max-width: 1700px;
  margin: 0 auto;
  /* color: orange; */
  /* background: var(--color-background); */
}

header {
}

article {
}

.content {
  box-shadow: 0 0 40px 10px rgb(100, 100, 100);
  margin: 10em auto;
  font-weight: 200;
  font-style: italic;
  padding: 2em;
  padding-top: 10em;
  transform: rotate(-.8deg);
  background: var(--color-background);
  max-width: 1000px;
}

.content :first-child strong {
  position: relative;
  top: .2em;
  color: orange;
  font-weight: 400;
  background: var(--color-primary);
  color: white;
  float: left;
  padding: .3em .5em;
  font-size: 3em;
  margin-right: .2ch;
}

.content p,
.content ol,
.content ul {
  max-width: 50ch;
  text-align: justify;
  hyphens: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3em;
  max-width: 60ch;
  margin: 0 auto;
  margin-bottom: 2em;
  transform: rotate(1deg);
}

.content li {
  margin-left: 1em;
  margin-bottom: 1em;
}

.content li:first-of-type {
  margin-top: 1em;
}

.content ul ::marker {
  color: var(--color-primary);
  content: '–\00a0\00a0';
  font-weight: 600;
}

header {
  margin-bottom: 4em;
  mix-blend-mode: overlay;
  /* position: fixed; */
}

.title {
  font-size: 14vw;
  margin-top: 0;
  padding-top: 0;
  display: block;
  margin-bottom: 0;
  /* top 0; */
}

.title em {
  display: block;
  /* width: max-content; */
  /* margin: 0 auto; */
  /* margin-bottom: 1em; */
  text-transform: lowercase;
  color: black;
  /* font-size: .5em; */
}

.invite {
  font-size: 8vw;
  line-height: 1;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 4em;
}

.bio {
  font-weight: 200;
  font-size: 1em;
  max-width: 40ch;
  margin: 30em auto 7em;
  position: absolute;
  z-index: 100;
  top: 80vh;
  left: 40vw;
  transform: rotate(3deg);
}

hr {
  border: none;
  margin-bottom: 2em;
}

hr::after {
  content: "* * *";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  color: black;
  text-align: center;
  display: block;
}

hr + p {
  text-align-last: left;
}

.bio a {
  font-style: normal;
  font-weight: 600;
}

h2 {
  margin-bottom: 2em;
  font-variant: all-small-caps;
  font-size: 1.2em;
  letter-spacing: 1ch;
  text-align: center;
}

.bio {
  line-height: 1;
  text-align: center;
  width: 800px;
  padding: 2em;
  min-height: 250px;
  max-height: 500px;
  border: 1px solid #e8e8e8;
  border-left: 15px solid #fdfd86;
  border-bottom-right-radius: 60px 5px;
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* W3C */
  transform: rotate(1deg);
  margin: 0 auto;
};

.bio::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.credit {
  color: grey;
  font-size: .9em;
  text-align: center;
  text-indent: 0;
  display: block;
  max-width: 35ch;
  margin: 0 auto;
  margin-top: 10em;
  hyphen: none;
}

.content a {
  position: relative;
}

.content p {
  position: relative;
}

.content a:hover::after {
  background: yellow;
  padding: 2em;
  margin-top: -10em;
  display: block;
  position: absolute;
  z-index: 3000;
}

.portrait {
  padding: 1.4em 1.4em 5em 1.4em;
  box-shadow: 0 0 10px black;
  position: fixed;
  right: 4px;
  top: 24em;
  filter: grayscale();
  transform: rotate(139deg);
  z-index: 1;
  background: wheat;
}

header {
  box-shadow: 0 0 10px black;
  background: white;
  padding: 7em;
  z-index: -2;
  transform: rotate(-2deg);
  margin-bottom: 0;
}

.page {
}

.content a {
  position: relative;
}

.content a:hover::after {
  display: block;
  line-height: 1;
  text-align: center;
  width: unset;
  height: unset;
  min-height: unset;
  /* z-index: 2000; */
  padding: 2em;
  /* min-height: 250px; */
  background: unset;
  background: #fdfd86;
  border: 1px solid #e8e8e8;
  border-left: 15px solid #fdfd86;
  border-bottom-right-radius: 60px 5px;
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* W3C */
  transform: rotate(-2deg);
  /* z-index: 3000; */
}

.content a {
  background: linear-gradient(transparent .2ex, #fdfd86 1.4ex, transparent);
  text-decoration: none;
  color: inherit;
}



@media screen and (max-width:780px) {
.bio {
  position: unset;
  width: 80vw;
  top: 20vh;
  max-height: unset;
}
.portrait {
  top: 20em;
  left: 60vw;
  width: 20em;
}
.content {
  transform: unset;
  padding: 3em;
}
}

@media screen and (max-width:700px) {
  .content {
    font-size: .8em;
  }
  .content a:hover::after {
    max-width: 80vw;
    padding: 0;
    display: none;
  }
  .bio {
  top: 20vh;
  }

  .content {
    font-size: .8em;
  }
  .content a:hover::after {
    max-width: 80vw;
    padding: 0;
    display: none;
  }

  .portrait {
  left: 40vw;

  }

  header {
    padding: 3em;
    font-size: .7em;
  }
 
}



.topbar {
  box-shadow: 0 0 30px black;
  }
  