<!DOCTYPE html>
<html lang="fr-FR">

  <head>
    <meta charset="utf-8">
    <title>{{site.siteName}}</title>
    <meta name="description" content="{{site.Description}}">
    <meta name="keywords" content="{{site.Keywords}}">
    <meta name="author" content="{{site.Authors}}">
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <link rel="manifest" href="site.webmanifest"> #}
    {# <link rel="apple-touch-icon" href="icon.png"> #}
    {% block styles %}
      <link rel="stylesheet" href="/css/master.css">
    {% endblock %}
    {# <link rel="stylesheet" href="https://indestructible​type.com​/fonts/Besley.css" type="text/css" charset="utf-8"/> #}
  </head>

  <body class="{{class}}">

    {% if addedBackground %}
      {{addedBackground | safe}}
    {% endif %}

    {% block topbar %}
      <aside class="topbar" style="--logoColor: {{colorlogo}}">
        <a class="logo" href="/">inachevé d’imprimer</a>
        {# {% include "modules/menu.njk" %} #}
      </aside>
    {% endblock %}

    {% block content %}
      <article>
        {{content | safe}}
      </article>

    {% endblock %}

    {% block footer %}

      <footer>
      {% if footer %}
        {{ footer | markdownify | safe}}
      {% endif %}
      </footer>



    {% endblock %}

{% block script %}
  {# <script src="js/script.js"></script> #}
{% endblock %}

  </body>
</html>