{% extends "base.njk" %}

{% block styles %}
    {% if mastercss %}
        <link rel="stylesheet" href="/css/{{mastercss}}">
    {% else %}    
    <link rel="stylesheet" href="/css/master.css">
    {% endif %}
    {% if customcss %}
        <link rel="stylesheet" href="/css/{{customcss}}">

    {% endif %}
{% endblock %}
{% block content %}
    <main>
        <article class="single">
            <header>
                {% if portrait %}
                    <img class="portrait" src="{{portrait}}" alt="portrait of {{invite}}"/>
                {% endif %}
                <h1 class="title">{{title | markdownify | replace('<p>','') | replace('</p>','') | safe }}</h1>
                {% if subtitle%}
                    <p class="subtitle">{{subtitle}}</p>
                    
                {% endif %}
                {% if author %}
                        <p class="invite">{{invite}}</p>
                    {% endif %}
            </header>
            <div class="bio">
                {{invitebio | markdownify | safe}}
            </div>
            <section class="content">
                {{content | safe}}
            </section>
        </article>
        <section class="backHome">
            <a href="/index.html">
                <span>Retour à l’index<span></a>
                </section>
            </main>
        {% endblock %}